* {
	box-sizing: border-box;
}

.header {
	width: 100%;
    min-height: 5vh;
	top: 0;
    background-color: #f8f8f8;
}

.content {
	min-height: 70vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;
    max-width: "xl";
}

.footer {
	width: 100%;
    min-height: 13vh;
    padding-left: 50px;
    padding-top: 30px;
    background-color: #f8f8f8;
    max-width: 'xl';
}

hr {
    border: 0;
    height: 0.1px;
    background-color:#9e9e9e;
}